/*   <!-- DEBUT entête avec logo et navbar -->*/

img.logo{
	height: 10vh;
}

#navbarNav{
	font-family: 'Titillium Web', sans-serif;
	text-transform: uppercase;
	padding-right: 10vh;
}

.navbar{
	width: 100%;
	height: 15vh;
	background-color: #E9967A
}

/*<!-- FIN entête avec logo et navbar -->*/



/*<!-- DEBUT 9 images dans des carrés -->*/

.mosaic{
	background-color: blue;
}

.image{
	width: 100%;
	height: 50vh;
	object-fit: cover;

}

.col-md{
	padding-left: 0;
	padding-right: 0;
}

.row{
	margin-left:10vh;
	margin-right: 10vh;
}

.ligne1{
	padding-top: 15vh;
}

.ligne2{
	padding-bottom: 15vh;
}

/*<!-- FIN 9 images dans des carrés -->*/



/*<!-- DEBUT avant bas de page -->*/

.mibas{
	width: 100%;
	height: 10vh;
}

/*<!-- FIN avant bas de page -->*/


/*<!-- DEBUT bas de page -->*/

.bas{
	width: 100%;
	height: 20vh;
	background-color: #124660;
	display: flex;
	align-items: center;
	justify-content: center;

}

.icone{
	color: white;
	font-family: 'Titillium Web', sans-serif;
	text-align: center;
}

.copy{
	font-size: 10px;
}

./*fab{
	color: white;
}*/

/*<!-- FIN bas de page -->*/